* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Philosopher');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css');

.container{  
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 20vh;
  opacity: 0.95;
}

@media screen and (max-width:460px){
  #quote-box{
    background-color:white;
    height: 70%;
    width: 80%;  
    padding: 2%;    
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    opacity: 0.85;
  }
  #text { 
    min-height: 20vh;
    text-align: center;
    font-size: 1.6em;
    font-family: 'Philosopher', sans-serif;
    display: block;
  }
  #clickable{
    margin-top:auto;
    display: block;
    height: 8vh;
  }

  .button {
    background-color: black;
    min-width: 8vh;
    height:80%;
    color: white;
    cursor: pointer;  
    font-size: 1em;
    margin-left: .5vw;
    border-radius: .4em;
    opacity: 0.8;
  }

  #tweet-quote {
    min-width: 8vh;
    height:80%;
    color: white;
    text-decoration: unset; 
    opacity: 0.8;
  }

  #new-quote {
    float: right;
    padding: 1%;     
    border-radius: .8em;
  }
}


@media screen and (min-width:460px){
  #quote-box{
    background-color:white;
    height: 75%;
    width: 80%;  
    padding: 2%;    
    display: flex;
    flex-direction: column;    
    border-radius: 2%;
    opacity: 0.85;
  }

  #text { 
    min-height: 20vh;
    text-align: center;
    font-size: 1.7em;
    font-family: 'Philosopher', sans-serif;
    display: block;
  }
  
  #clickable{
    margin-top:auto;
    display: block;
    height: 9.5vh;
  }
  
  .button {
    min-width: 9.5vh;
    height:95%;
    color: white;
    cursor: pointer;  
    font-size: 1.25em;
    margin-left: .5vw;    
    border-radius: .5em;
    opacity: 0.8;
  }

  #tweet-quote {
    min-width: 9.5vh;
    height:95%;
    color: white;
    text-decoration: unset;
  }

  #new-quote {
    float: right;
    padding: 1.5%;    
    border-radius: 1em;    
    opacity: 0.8;
  }
}


@media screen and (min-width:560px){
  #quote-box{
    background-color:white;
    height: 70%;
    width: 70%;  
    padding: 2%;    
    display: flex;
    flex-direction: column;    
    border-radius: 2%;
    opacity: 0.85;
  }
  #text { 
    min-height: 20vh;
    text-align: center;
    font-size: 1.8em;
    font-family: 'Philosopher', sans-serif;    
    display: block;
  }
}


@media screen and (min-width:800px){  
  #quote-box{
    background-color: white;
    min-height: auto;
    width: 55%;  
    padding: 3%;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    opacity: 0.85;
  }
  #text{
    min-height: 20vh;
    text-align: center;
    font-size: 1.9em;
    font-family: 'Philosopher', sans-serif;
    display: block;
  }  
}

#author{
  min-height: 5vh;
  text-align: right;
  font-family: 'Maven Pro', sans-serif;
  display: block;
  margin-top: 1.2em;
  margin-bottom: auto;
}
